@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #241e27f3;
    background-image: url(s2orDTfF.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-attachment: fixed;
    background-size: cover;
    
}

header{
    background-color: rgb(22, 19, 19);
    color: aliceblue;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 10px;
    width: 100vw;
    height: 8vh;
    border-radius: 20px;
}

header h1 {
    font-family: "Yuji Syuku", serif;
}

.coin{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 90px;
    font-family: "Yuji Syuku", serif;
    color:#dda56d;
    font-size: 22px;
}



.img{
    width: 250px;
    user-select: none;

}

.img:hover{
    cursor: pointer;
}

.img:active{
    opacity: 0.9;
    transform: scale(1.1);
}

.img-upgrade img{
    width: 75px;
    padding:10px 20px
}

.secao-upgrade{
    display: flex;
    flex-direction: column;
    align-items:flex-end;   
    padding-right: 80px;
    gap: 12px;
 
   }

   section{
    width: 100vw;
    padding-bottom: 75px;
    height: 900px;
   }



.upgrade{
    display: flex;
    border:  6px solid rgb(0, 0, 0);
    border-radius: 15px;
     padding: 10px;
    cursor: pointer;
    position: relative;
    width: 500px;
    background-color: #6f7a9c;
   


}

.upgrade-section h2{ 
    padding-bottom: 20px;
    padding-right: 55px;
    font-size: 25px;
    font-family: "Yuji Syuku", serif;
    color: #dda56d;
    
}

.upgrade-quantidade{
    padding-left: 15px;
    font-size: 16px;
    color: aliceblue;
    font-family: "Yuji Syuku", serif;
    
}

.upgrade-quantidade h2{
    padding-bottom: 20px;
   
}

.informacaodolvl{
    padding: 5px;
    position: absolute;
    right: -95px;
    background-color: rgb(58, 52, 52);
    width: 80px;
    height: 98px;
    border-radius: 5px;
    display: none;
    color: #dda56d;
    font-size: 15px;
    font-family: "Yuji Syuku", bold;
}

.upgrade:hover .informacaodolvl{
    display: block;
}

.seguidor {
    font-family:'Times New Roman', Times, serif;
    color: #ebd3a6fb;
}




    
footer{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 10px 5px;
    
}


.Estatisticas{
   
    background-color: rgb(58, 52, 52);
    padding: 30px;
    width: 250px;
    height: 200px;
    border:  4px solid rgb(0, 0, 0);
    border-radius: 10px;
    
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: "Yuji Syuku", serif;
    padding-top: 20px;
    color:#dda56d;
    font-size: 28px;
   
    
}